﻿@model ReCA.Models.RegistroPeriodoView

@{
    ViewBag.Title = "Registro del periodo "+ Model.PeriodoNombre;
}

@Html.ActionLink("Inicio",MVC.Home.Index()) > @Html.ActionLink("Ver Centros",MVC.Cadi.Index()) > @Html.ActionLink("Detalles de Centro",MVC.Cadi.Details(Model.Cadi)) > @ViewBag.Title

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Cadi)
    <fieldset>
        <legend>RegistroPeriodo</legend>
        
        <div>
            <div class="divTableLabel">
                <label>Lactantes</label>
            </div>
            <div class="divTableColumn">
                <div class="divTableColumn">
                    <div>Hombres</div>
                    @Html.TextBoxFor(model => model.LactantesHombres, new { @class = "TriggersSum" })
                    @Html.ValidationMessageFor(model => model.LactantesHombres)
                </div>
                <div class="divTableColumn">
                    <div>Mujeres</div>
                    @Html.TextBoxFor(model => model.LactantesMujeres, new { @class = "TriggersSum" })
                    @Html.ValidationMessageFor(model => model.LactantesMujeres)
                </div>
                <div class="divTableColumn">
                    <div>Total Lactantes</div>
                    <input id="TotalLactantes" type="text" readonly="readonly" />
                </div>
            </div>
        </div>
        <div class="clearDiv"></div>
        <div>
            <div class="divTableLabel">
                <label>Maternal</label>
            </div>
            <div class="divTableColumn">
                <div class="divTableColumn">
                    <div>Hombres</div>
                    @Html.TextBoxFor(model => model.MaternalesHombres, new { @class = "TriggersSum" })
                    @Html.ValidationMessageFor(model => model.MaternalesHombres)
                </div>
                <div class="divTableColumn">
                    <div>Mujeres</div>
                    @Html.TextBoxFor(model => model.MaternalesMujeres, new { @class = "TriggersSum" })
                    @Html.ValidationMessageFor(model => model.MaternalesMujeres)
                </div>
                <div class="divTableColumn">
                    <div>Total Maternal</div>
                    <input id="TotalMaternales" type="text" readonly="readonly" />
                </div>
            </div>
        </div>
        <div class="clearDiv"></div>
        <div>
            <div class="divTableLabel">
                <label>Preescolar</label>
            </div>
            <div class="divTableColumn">
                <div class="divTableColumn">
                    <div>Hombres</div>
                    @Html.TextBoxFor(model => model.PreescolaresHombres, new { @class = "TriggersSum" })
                    @Html.ValidationMessageFor(model => model.PreescolaresHombres)
                </div>
                <div class="divTableColumn">
                    <div>Mujeres</div>
                    @Html.TextBoxFor(model => model.PreescolaresMujeres, new { @class = "TriggersSum" })
                    @Html.ValidationMessageFor(model => model.PreescolaresMujeres)
                </div>
                <div class="divTableColumn">
                    <div>Total Preescolar</div>
                    <input id="TotalPreescolares" type="text" readonly="readonly" />
                </div>
            </div>
        </div>
        <div class="clearDiv"></div>
        <div>
            <div class="divTableLabel">
                <label>Totales</label>
            </div>
            <div class="divTableColumn">
                <div class="divTableColumn">
                    <div>Total Hombres</div>
                    <input id="TotalHombres" type="text" readonly="readonly" />
                </div>
                <div class="divTableColumn">
                    <div>Total Mujeres</div>
                    <input id="TotalMujeres" type="text" readonly="readonly" />
                </div>
                <div class="divTableColumn">
                    <div>Total</div>
                    <input id="Total" type="text" readonly="readonly" /></div>
            </div>
        </div>
        <div class="clearDiv"></div>
        <div class="editor-label">
            @Html.LabelFor(model => model.TotalFamiliasBeneficiadas)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TotalFamiliasBeneficiadas)
            @Html.ValidationMessageFor(model => model.TotalFamiliasBeneficiadas)
        </div>

        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Ver todos los registro", MVC.Cadi.Details(Model.Cadi))
</div>

@section Scripts {
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
<script>
    $(document).on('input', ".TriggersSum",
    function () {
        $("#TotalLactantes").val(parseInt($("#@(Html.IdFor(m => m.LactantesHombres))").val()) + parseInt($("#@(Html.IdFor(m => m.LactantesMujeres))").val()));
        $("#TotalMaternales").val(parseInt($("#@(Html.IdFor(m => m.MaternalesHombres))").val()) + parseInt($("#@(Html.IdFor(m => m.MaternalesMujeres))").val()));
        $("#TotalPreescolares").val(parseInt($("#@(Html.IdFor(m => m.PreescolaresHombres))").val()) + parseInt($("#@(Html.IdFor(m => m.PreescolaresHombres))").val()));

        var totalHombres = parseInt($("#@(Html.IdFor(m => m.LactantesHombres))").val()) + parseInt($("#@(Html.IdFor(m => m.MaternalesHombres))").val()) + parseInt($("#@(Html.IdFor(m => m.PreescolaresHombres))").val());
        var totalMujeres = parseInt($("#@(Html.IdFor(m => m.LactantesMujeres))").val()) + parseInt($("#@(Html.IdFor(m => m.MaternalesMujeres))").val()) + parseInt($("#@(Html.IdFor(m => m.PreescolaresMujeres))").val());
        $("#TotalHombres").val(totalHombres);
        $("#TotalMujeres").val(totalMujeres);


        $("#Total").val(totalHombres + totalMujeres);

    });
</script>
}