﻿@model ReCA.Models.RegistroPeriodo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>RegistroPeriodo</legend>

    <div class="divTableLabel">
         @Html.DisplayNameFor(model => model.LactantesHombres)
    </div>
    <div class="divTableColumn">
        @Html.DisplayFor(model => model.LactantesHombres)
    </div>

    <div class="divTableLabel">
         @Html.DisplayNameFor(model => model.LactantesMujeres)
    </div>
    <div class="divTableColumn">
        @Html.DisplayFor(model => model.LactantesMujeres)
    </div>

    <div class="divTableLabel">
         @Html.DisplayNameFor(model => model.MaternalesHombres)
    </div>
    <div class="divTableColumn">
        @Html.DisplayFor(model => model.MaternalesHombres)
    </div>

    <div class="divTableLabel">
         @Html.DisplayNameFor(model => model.MaternalesMujeres)
    </div>
    <div class="divTableColumn">
        @Html.DisplayFor(model => model.MaternalesMujeres)
    </div>

    <div class="divTableLabel">
         @Html.DisplayNameFor(model => model.PreescolaresHombres)
    </div>
    <div class="divTableColumn">
        @Html.DisplayFor(model => model.PreescolaresHombres)
    </div>

    <div class="divTableLabel">
         @Html.DisplayNameFor(model => model.PreescolaresMujeres)
    </div>
    <div class="divTableColumn">
        @Html.DisplayFor(model => model.PreescolaresMujeres)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
