﻿@model IEnumerable<ReCA.Models.RegistroPeriodo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LactantesHombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LactantesMujeres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaternalesHombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaternalesMujeres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreescolaresHombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreescolaresMujeres)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LactantesHombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LactantesMujeres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaternalesHombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaternalesMujeres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreescolaresHombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreescolaresMujeres)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
