﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Sistema DIF Michoacán</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </head>
    <body>
        <header>
            <div class="content-wrapper shadow" style="display:block;">
                <div class="float-left">
                    <a href="@Url.Action(MVC.Home.Index())">
                    <img src="~/Images/difLogo.png" /></a>
                </div>
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Inicio", MVC.Home.Index())</p>
                </div>
                <div class="float-right">
                    <img src="~/Images/mLogo.png" />
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            @if (User.IsInRole(ReCA.Constants.RolesConstants.Administrador))
                            {
                                <li>@Html.ActionLink("Usuarios", MVC.User.Index())</li>
                                <li>@Html.ActionLink("Periodos", MVC.Periodo.Index())</li>
                            }
                            <li>@Html.ActionLink("Dar de alta un centro", MVC.Cadi.Create())</li>
                            <li>@Html.ActionLink("Ver Centros", MVC.Cadi.Index())</li>
                        </ul>
                    </nav>
                    
                </div>
                <div class="clear-fix">&nbsp;</div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix shadow">
                <div class="centered"><h2>Registro Estatal de Centros de Atención, Cuidado y Desarrollo Integral Infantil</h2></div>
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - DIF Michoacán</p>
                </div>
            </div>
        </footer>

    </body>
</html>
