﻿@model ReCA.Models.CadiView
@using ExtensionMethods

@{
    ViewBag.Title = "Dar de alta un centro";
}

@Html.ActionLink("Inicio",MVC.Home.Index()) > @ViewBag.Title
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.ValidationSummary(true)
    
    
    <fieldset>
        <legend>@ViewBag.Title</legend>
    @if (Model.Municipio == 0)
    {
        
        <div class="editor-label">
            <label>Municipio</label>
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Municipio, new SelectList(Model.Municipios, "Id", "Nombre"), "Selecciona el Municipio", new { @onchange = "this.form.submit()" })
        </div>
    }
    else
    {
        @Html.HiddenFor(model => model.Municipio)
        <div class="editor-label">
            @Html.LabelFor(model => model.Clave)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Clave, new { @class = "UppercaseClass" })
            @Html.ValidationMessageFor(model => model.Clave)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TipoPersona)
        </div>
        <div class="editor-Field">
            @Html.RadioButtonFor(m => m.TipoPersona, ReCA.Models.TipoPersona.Fisica)
            @(ReCA.Models.TipoPersona.Fisica.GetDescription())
            @Html.RadioButtonFor(m => m.TipoPersona, ReCA.Models.TipoPersona.Moral)
            @(ReCA.Models.TipoPersona.Moral.GetDescription())
            
            @Html.ValidationMessageFor(model => model.TipoPersona)
        </div>

       <div class="editor-label">
            @Html.LabelFor(model => model.Modalidad)
        </div>
        <div class="editor-Field">
            @Html.RadioButtonFor(m => m.Modalidad, ReCA.Models.Modalidad.Publico)
            @(ReCA.Models.Modalidad.Publico.GetDescription())
            @Html.RadioButtonFor(m => m.Modalidad, ReCA.Models.Modalidad.Privado)
            @(ReCA.Models.Modalidad.Privado.GetDescription())
            @Html.RadioButtonFor(m => m.Modalidad, ReCA.Models.Modalidad.Mixto)
            @(ReCA.Models.Modalidad.Mixto.GetDescription())

            @Html.ValidationMessageFor(model => model.Modalidad)
        </div>
        

        <div class="editor-label">
            @Html.LabelFor(model => model.NombreResponsable)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.NombreResponsable, new { @class = "TitleClass" })
            @Html.ValidationMessageFor(model => model.NombreResponsable)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Nombre, new { @class = "TitleClass" })
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Domicilio)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Domicilio, new { @class = "TitleClass" })
            @Html.ValidationMessageFor(model => model.Domicilio)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Localidad)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Localidad, new SelectList(Model.Localidades, "Id", "Nombre"), "Selecciona la localidad")
            @Html.ValidationMessageFor(model => model.Localidad)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Turno)
        </div>
        <div class="editor-Field">
            @Html.RadioButtonFor(m => m.Turno, ReCA.Models.Turno.Matutino)
            @(ReCA.Models.Turno.Matutino.GetDescription())
            @Html.RadioButtonFor(m => m.Turno, ReCA.Models.Turno.Vespertino)
            @(ReCA.Models.Turno.Vespertino.GetDescription())
            @Html.RadioButtonFor(m => m.Turno, ReCA.Models.Turno.Ambos)
            @(ReCA.Models.Turno.Ambos.GetDescription())
            
            @Html.ValidationMessageFor(model => model.Turno)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaInicioOperaciones)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaInicioOperaciones)
            @Html.ValidationMessageFor(model => model.FechaInicioOperaciones)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Capacidad)
        </div>
        <div class="editor-label">
            @Html.DropDownListFor(m => m.Capacidad,
            from ReCA.Models.Capacidad capacidad in Enum.GetValues(typeof(ReCA.Models.Capacidad))
            select new SelectListItem() { Text = capacidad.GetDescription(), Value = capacidad.ToString() },
            "Seleccione una opción")
            @Html.ValidationMessageFor(model => model.Capacidad)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.TelefonoFijo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TelefonoFijo)
            @Html.ValidationMessageFor(model => model.TelefonoFijo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TelefonoCelular)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TelefonoCelular)
            @Html.ValidationMessageFor(model => model.TelefonoCelular)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TelefonoOtro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TelefonoOtro)
            @Html.ValidationMessageFor(model => model.TelefonoOtro)
        </div>
    }
        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Salir sin guardar", "Index")
</div>

@section Scripts {
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
<script>
    function toTitleCase(str) {
        return str.replace(/\w\S*/g, function (txt) { return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase(); });
    }
    $(document).ready(function () {
        $("#@(Html.IdFor(m => m.FechaInicioOperaciones))").datepicker({
            dateFormat: "dd/mm/yy",
            changeMonth: true,
            changeYear: true
        });
        $('#@(Html.IdFor(m => m.FechaInicioOperaciones))').datepicker($.datepicker.regional["es"]);
        $('#@(Html.IdFor(m => m.FechaInicioOperaciones))').datepicker("setDate", new Date());

        $('.TitleClass').focusout(function () {
            this.value = toTitleCase(this.value);
        });
        $('.UppercaseClass').focusout(function () {
            this.value = this.value.toUpperCase();
        });
    });
</script>
}
