﻿@model ReCA.Models.Cadi

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>CadiModels</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Clave)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Clave)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NombreResponsable)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NombreResponsable)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Domicilio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Domicilio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaInicioOperaciones)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaInicioOperaciones)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LactantesHombres)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LactantesHombres)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LactantesMujeres)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LactantesMujeres)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaternalesHombres)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaternalesHombres)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaternalesMujeres)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaternalesMujeres)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PreescolaresHombres)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PreescolaresHombres)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PreescolaresMujeres)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PreescolaresMujeres)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalFamiliasBeneficiadas)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalFamiliasBeneficiadas)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TelefonoFijo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TelefonoFijo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TelefonoCelular)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TelefonoCelular)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TelefonoOtro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TelefonoOtro)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
