﻿@model ReCA.Models.CadiDetailViewModel

@{
    ViewBag.Title = "Detalles de Centro";
}

@Html.ActionLink("Inicio",MVC.Home.Index()) > @Html.ActionLink("Ver Centros",MVC.Cadi.Index()) > @ViewBag.Title
<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink("Editar Datos", MVC.Cadi.Edit(Model.Cadi.Id))
</p>
<fieldset>
    <legend>CadiModels</legend>

    <div class="divTableLabel">
         @Html.DisplayNameFor(model => model.Cadi.Clave)
    </div>
    <div class="divTableColumnLarge">
        @Html.DisplayFor(model => model.Cadi.Clave)
    </div>
    <div class="clearDiv"></div>

    <div class="divTableLabel">
         @Html.DisplayNameFor(model => model.Cadi.NombreResponsable)
    </div>
    <div class="divTableColumnLarge">
        @Html.DisplayFor(model => model.Cadi.NombreResponsable)
    </div>
    <div class="clearDiv"></div>
    
    <div class="divTableLabel">
         @Html.DisplayNameFor(model => model.Cadi.Nombre)
    </div>
    <div class="divTableColumnLarge">
        @Html.DisplayFor(model => model.Cadi.Nombre)
    </div>
    <div class="clearDiv"></div>

    <div class="divTableLabel">
         @Html.DisplayNameFor(model => model.Cadi.Domicilio)
    </div>
    <div class="divTableColumnLarge">
        @Html.DisplayFor(model => model.Cadi.Domicilio)
    </div>
    <div class="clearDiv"></div>

    <div class="divTableLabel">
         @Html.DisplayNameFor(model => model.Cadi.FechaInicioOperaciones)
    </div>
    <div class="divTableColumnLarge">
        @Html.DisplayFor(model => model.Cadi.FechaInicioOperaciones)
    </div>
    <div class="clearDiv"></div>

    <div class="divTableLabel">
         @Html.DisplayNameFor(model => model.Cadi.TelefonoFijo)
    </div>
    <div class="divTableColumnLarge">
        @Html.DisplayFor(model => model.Cadi.TelefonoFijo)
    </div>
    <div class="clearDiv"></div>

    <div class="divTableLabel">
         @Html.DisplayNameFor(model => model.Cadi.TelefonoCelular)
    </div>
    <div class="divTableColumnLarge">
        @Html.DisplayFor(model => model.Cadi.TelefonoCelular)
    </div>
    <div class="clearDiv"></div>

    <div class="divTableLabel">
         @Html.DisplayNameFor(model => model.Cadi.TelefonoOtro)
    </div>
    <div class="divTableColumnLarge">
        @Html.DisplayFor(model => model.Cadi.TelefonoOtro)
    </div>
    <div class="clearDiv"></div>

    <table>
        <thead>
            <tr>
                <td>Periodo</td>
                <td>Lactante(H)</td>
                <td>Lactante(M)</td>
                <td>Maternal(H)</td>
                <td>Maternal(M)</td>
                <td>Preescolar(H)</td>
                <td>Preescolar(M)</td>
                <td>Familias Beneficiadas</td>
                <td></td>
            </tr>
        </thead>
        @{
            foreach (ReCA.Models.RegistroPeriodo registro in Model.RegistroPeriodos)
            {
            <tr>
                <td>@registro.Periodo.Nombre</td>
                <td>@registro.LactantesHombres</td>
                <td>@registro.LactantesMujeres</td>
                <td>@registro.MaternalesHombres</td>
                <td>@registro.MaternalesMujeres</td>
                <td>@registro.PreescolaresHombres</td>
                <td>@registro.PreescolaresMujeres</td>
                <td>@registro.TotalFamiliasBeneficiadas</td>
                <td>
                    @if (Model.HasRegisteredCurrentPeriod && Model.Periodo.Status == (int)ReCA.Models.PeriodoStatus.Abierto && registro.Periodo.Id == Model.Periodo.Id)
                    {
                        <span>@Html.ActionLink("Editar", MVC.RegistroPeriodo.Edit(registro.Id))</span>
                    }
                </td>
            </tr>
        }
        }
    </table>
    @if (Model.Periodo.Status == (int)ReCA.Models.PeriodoStatus.Abierto)
    {

        if (!Model.HasRegisteredCurrentPeriod)
        {
        <p>
            @Html.ActionLink("Registrar periodo " + Model.Periodo.Nombre, MVC.RegistroPeriodo.Create(Model.Cadi.Id))
        </p>
        }
    }
    else {
        <p><strong>El periodo @Model.Periodo.Nombre se ha cerrado. Por ello no se puede agregar o editar registros.</strong></p>
    }
</fieldset>
<p>
    @Html.ActionLink("Ver todos los centros", "Index")
</p>
