﻿@model ReCA.Models.CadiListView

@{
    ViewBag.Title = "Centros de atención";
}

@Html.ActionLink("Inicio",MVC.Home.Index()) > @ViewBag.Title

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Dar de alta otro", "Create")
</p>
<div>Ordenar por: 
    @Html.ActionLink("Clave",MVC.Cadi.Index()) |
    @Html.ActionLink("Registrados",MVC.Cadi.Index(Model.PageSize,0,0,ReCA.Models.CadiListOrder.StatusCaptured)) |
    @Html.ActionLink("No Registrados",MVC.Cadi.Index(Model.PageSize,0,0,ReCA.Models.CadiListOrder.StatusNotCaputred)) |
    @Html.ActionLink("Activos",MVC.Cadi.Index(Model.PageSize,0,0,ReCA.Models.CadiListOrder.StatusActive)) |
    @Html.ActionLink("Inactivos",MVC.Cadi.Index(Model.PageSize,0,0,ReCA.Models.CadiListOrder.StatusDown)) |

</div>
<table>
    <tr>
        <th></th>
        <th>
            <label>Clave</label>
        </th>
        <th>
            <label>Responsable</label>
        </th>
        <th>
            <label>Nombre del centro</label>
        </th>
        <th></th>
        <th></th>
    </tr>
@foreach (var item in Model.CadiList) {
    <tr>
        <td>
            @Html.ActionLink("Editar", MVC.Cadi.Edit(item.Cadi.Id)) |
            @Html.ActionLink("Ver Registros", MVC.Cadi.Details(item.Cadi.Id))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cadi.Clave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cadi.NombreResponsable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cadi.Nombre)
        </td>
        <td>@Html.DisplayFor(modelItem=>item.Cadi.Status)</td>
        <td>

            @if (item.Cadi.Status == ReCA.Models.CadiStatus.Activo)
            {
                if (!item.HasCapturedCurrentPeriodo)
                {
                    if (ViewBag.Periodo.Status == (int)ReCA.Models.PeriodoStatus.Abierto) 
                    {
                        <span>@Html.ActionLink("Registrar periodo", MVC.RegistroPeriodo.Create(item.Cadi.Id))</span>
                    }
                    else 
                    {
                        <span>No se registró</span>
                    }
                }
                else
                {
                <span>Ya se registró</span>
                }
            }

            @if (item.Cadi.Status == ReCA.Models.CadiStatus.Activo && item.HasCapturedCurrentPeriodo)
            {
                <span>| @Html.ActionLink("Dar de baja", MVC.Cadi.TakeDown(item.Cadi.Id, Model.PageSize, Model.Page, Model.Display, Model.OrderBy))</span>
            }
        </td>
    </tr>
}
</table>
<p>Para generar comprobante de captura:
    @Html.ActionLink("click aquí",MVC.Cadi.Ticket())
</p>
<br />
<div>Se muestran los resultados del @(Model.Page*Model.PageSize + 1) al @(Model.Page*Model.PageSize+Model.CadiList.Count) de @Model.Total. Ir a página
    @for (int x = 0; x <= (Model.Total / Model.PageSize); x++)
    {
        <span>@Html.ActionLink((x + 1).ToString(), MVC.Cadi.Index(Model.PageSize, x, Model.Display,Model.OrderBy))</span>
    }
</div>