﻿@model ReCA.Models.CadiTicketView
@{
    ViewBag.Title = "Comprobante de captura";
}

<h2>@ViewBag.Title</h2>
<table>
    <tr>
        <td>Usuario:</td>
        <td>@User.Identity.Name</td>
    </tr>
    <tr>
        <td>Fecha:</td>
        <td>@DateTime.Now</td>
    </tr>
    <tr>
        <td>Periodo:</td>
        <td>@Model.Periodo.Nombre</td>
    </tr>
    <tr>
        <td>Centros:</td>
        <td>@Model.Captured/@Model.Total</td>
    </tr>
    <tr>
        <td>Cadena:</td>
        <td>@Model.UnencodedString</td>
    </tr>
    <tr>
        <td>Sig:</td>
        <td>@DateTime.Now.DayOfYear.@Model.Sum.@Model.EncodedString</td>
    </tr>
</table>
<p>@Html.ActionLink("Regresar",MVC.Cadi.Index()) | <a onclick="printTicket()">Imprimir</a></p>

@section Scripts { 
<script>
    function printTicket() {
        window.print();
    }
</script>
}