﻿@{
    ViewBag.Title = "Registro de Centro";
}
<h3>@ViewBag.Title</h3>
<ol>
    <li>@Html.ActionLink("Dar de alta un Centro",MVC.Cadi.Create())</li>
    <li>@Html.ActionLink("Ver Centros",MVC.Cadi.Index())</li>
</ol>
