﻿@model ReCA.Models.Periodo

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>

@if (Model != null)
{
    if (Model.Status == (int)ReCA.Models.PeriodoStatus.Abierto)
    {
    <span>@Html.ActionLink("Cerrar Periodo "+Model.Nombre,MVC.Periodo.ClosePeriod())</span>
    }
    if (Model.Status == (int)ReCA.Models.PeriodoStatus.Pausado)
    {
    <span>@Html.ActionLink("Reabrir Periodo "+Model.Nombre,MVC.Periodo.ReopenPeriod())</span>    
    }
}
@if (Model == null || (Model.Status == (int)ReCA.Models.PeriodoStatus.Pausado && !Model.Nombre.Equals(ViewBag.GeneratedPeriodNombre)))
{
    <span>@Html.ActionLink("Abrir periodo "+(string)ViewBag.GeneratedPeriodNombre,MVC.Periodo.OpenPeriodo())</span>
}